---
layout: default
---
{% include subheader.html %}

<div id="erp">
	<div id="hero">
		<div id="honeycomb">
			<div class="content_container">
        {% for row in site.honeycomb %}
					<div class="row {{row.class_name}}">
						{% for item in row.items %}
							{% if page.permalink == item.url or page.leaf != null and page.leaf == item.url %}
								<span class="item">
									<div class="selected">
										<div class="fit">
											<a name="focus"></a>
												<img alt="{{ item.name }}" src="{{ item.img }}">
										</div>
										<h1>{{ item.name }}</h1>
										<div class="selected_content">
											<ul id="sub-honey">
												{% for sub_item in item.links %}
													<li><a href="{{ sub_item.url }}">{{ sub_item.name }}</a></li>
												{% endfor %}
											</ul>
										</div>
									</div>
								</span>
							{% else %}
								<a href="{{ item.url }}" class="item">
									<div class="fit">
										<img alt="{{ item.name }}" src="{{ item.img }}">
									</div>
									<h1>{{ item.name }}</h1>
								</a>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
				<!-- <div class="row odd">
					<a href="http://abelsolutions.co.nz/erp-functionality/ecommerce#focus" class="item">
						<div class="fit"><img alt="Honeycomb_ecommerce" src="/img/honeycomb_ecommerce.png"></div>
						<h1>Ecommerce</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/integration#focus" class="item">
					<div class="fit"><img alt="Honeycomb_integration" src="/img/honeycomb_integration.png"></div>
					<h1>Integration</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/bi-tools#focus" class="item">
					<div class="fit"><img alt="Honeycomb_bi-tools" src="/img/honeycomb_bi-tools.png"></div>
					<h1>BI Tools</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/inventory-management#focus" class="item">
					<div class="fit"><img alt="Honeycomb_inventory-management" src="/img/honeycomb_inventory-management.png"></div>
					<h1>Inventory Management</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/pricing-management#focus" class="item">
					<div class="fit"><img alt="Honeycomb_pricing-management" src="/img/honeycomb_pricing-management.png"></div>
					<h1>Pricing Management</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/approvals#focus" class="item">
					<div class="fit"><img alt="Honeycomb_approvals" src="/img/honeycomb_approvals.png"></div>
					<h1>Approvals</h1></a>
			</div>
			<div class="row even">
				<a href="http://abelsolutions.co.nz/erp-functionality/system-security#focus" class="item">
					<div class="fit"><img alt="Honeycomb_system-security" src="/img/honeycomb_system-security.png"></div>
					<h1>System Security</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/distribution#focus" class="item">
					<div class="fit">
						<img alt="Honeycomb_distribution" src="/img/honeycomb_distribution.png">
					</div>
					<h1>Distribution</h1>
				</a>
				<span class="item">
					<div class="honeycomb_selected page.permalink financials">
						<div class="fit">
							<a name="focus"></a>
							<img alt="Honeycomb_financials" src="/img/honeycomb_financials.png">
						</div>
						<h1>Financials</h1>
						<div class="selected_content">
							<ul id="sub-honey">
								<li><a href="/erp-functionality/financials/general-ledger#content">General Ledger</a></li>
								<li><a href="/erp-functionality/financials/cash-management#content">Cash Management</a></li>
								<li><a href="/erp-functionality/financials/accounts-payable#content">Accounts Payable</a></li>
								<li><a href="/erp-functionality/financials/accounts-receivable#content">Accounts Receivable</a></li>
								<li><a href="/erp-functionality/financials/fixed-assets#content">Fixed Assets</a></li>
								<li><a href="/erp-functionality/financials#more">More …</a></li>
							</ul>
						</div>
					</div>
				</span>
				<a href="http://abelsolutions.co.nz/erp-functionality/sales#focus" class="item">
					<div class="fit"><img alt="Honeycomb_sales" src="/img/honeycomb_sales.png"></div>
					<h1>Sales</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/crm#focus" class="item">
					<div class="fit"><img alt="Honeycomb_crm" src="/img/honeycomb_crm.png"></div>
					<h1>CRM</h1></a>
			</div>
			<div class="row odd">
				<a href="http://abelsolutions.co.nz/erp-functionality/asset-management#focus" class="item">
					<div class="fit"><img alt="Honeycomb_asset-management" src="/img/honeycomb_asset-management.png"></div>
					<h1>Asset Management</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/production-planning-scheduling#focus" class="item">
					<div class="fit"><img alt="Honeycomb_production-planning-scheduling" src="/img/honeycomb_production-planning-scheduling.png"></div>
					<h1>Production, Planning &amp; Scheduling</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/supply-chain#focus" class="item">
					<div class="fit"><img alt="Honeycomb_supply-chain" src="/img/honeycomb_supply-chain.png"></div>
					<h1>Supply Chain</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/manufacturing-production#focus" class="item">
					<div class="fit"><img alt="Honeycomb_manufacturing-production" src="/img/honeycomb_manufacturing-production.png"></div>
					<h1>Manufacturing &amp; Production</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/jobbing#focus" class="item">
					<div class="fit"><img alt="Honeycomb_jobbing" src="/img/honeycomb_jobbing.png"></div>
					<h1>Jobbing</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/mobile#focus" class="item">
					<div class="fit"><img alt="Honeycomb_mobile" src="/img/honeycomb_mobile.png"></div>
					<h1>Mobile</h1></a>
			</div>
			<div class="row even">
				<a href="http://abelsolutions.co.nz/erp-functionality/workflow#focus" class="item">
					<div class="fit"><img alt="Honeycomb_workflow" src="/img/honeycomb_workflow.png"></div>
					<h1>Workflow</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/quality-assurance#focus" class="item">
					<div class="fit"><img alt="Honeycomb_quality-assurance" src="/img/honeycomb_quality-assurance.png"></div>
					<h1>Quality Assurance</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/human-resource-management#focus" class="item">
					<div class="fit"><img alt="Honeycomb_human-resource-management" src="/img/honeycomb_human-resource-management.png"></div>
					<h1>Human Resource Management</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/mrp#focus" class="item">
					<div class="fit"><img alt="Honeycomb_mrp" src="/img/honeycomb_mrp.png"></div>
					<h1>MRP</h1></a>
				<a href="http://abelsolutions.co.nz/erp-functionality/plm#focus" class="item">
					<div class="fit"><img alt="Honeycomb_plm" src="/img/honeycomb_plm.png"></div>
					<h1>PLM</h1></a>
			</div> -->
		</div>
	</div>
</div>
</div>
<div class="content_container">
  <section id="side_menu">
     <nav>
      <div class="root">
        {% if page.leaf == null %}
          <a href="{{ page.url }}">
            {{ page.title }}
        {% else %}
          <a href="{{ page.leaf }}">
            {{ page.parentTitle }}
        {% endif %}
        </a>
      </div>
      <ul>
        {% for sub_page in site.pages %}
          {% if page.leaf == null %}
            {% assign page_id = sub_page.permalink | urlmatch_plugin %}
            {% if page_id == page.permalink %}
              <li class="first">
                <a href="{{ sub_page.url }}">
                  {{ sub_page.title }}
                </a>
              </li>
            {% endif %}
          {% else %}
          {% assign page_id = sub_page.permalink | urlmatch_plugin %}
            {% if page_id == page.leaf %}
              {% if sub_page.permalink == page.permalink %}
                <li class="first selected">
              {% else %}
                <li class="first">
              {% endif %}
                <a href="{{ sub_page.url }}">
                  {{ sub_page.title }}
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
     </nav>
  </section>
    {{ content }}
</div>
