---
layout: default
---

{% include subheader.html %}

<div class="content_container">
  <section id="side_menu">
     <nav>
      <div class="root">
        {% if page.leaf == null %}
          <a href="{{ page.url }}">
            {{ page.title }}
        {% else %}
          <a href="{{ page.leaf }}">
            {{ page.parentTitle }}
        {% endif %}
        </a>
      </div>
      <ul>
        {% for sub_page in site.pages %}
          {% if page.leaf == null %}
            {% assign page_id = sub_page.permalink | urlmatch_plugin %}
            {% if page_id == page.permalink %}
              <li class="first">
                <a href="{{ sub_page.url }}">
                  {{ sub_page.title }}
                </a>
              </li>
            {% endif %}
          {% else %}
          {% assign page_id = sub_page.permalink | urlmatch_plugin %}
            {% if page_id == page.leaf %}
              {% if sub_page.permalink == page.permalink %}
                <li class="first selected">
              {% else %}
                <li class="first">
              {% endif %}
                <a href="{{ sub_page.url }}">
                  {{ sub_page.title }}
                </a>
              </li>
            {% endif %}
          {% endif %}
        {% endfor %}
      </ul>
     </nav>
  </section>
    {{ content }}
</div>
