---
layout: default
---

{% include subheader.html %}

<div class="content_container">
  <section id="side_menu">
     <nav>
      <div class="root">
        <a href="{{ page.url }}">
          {{ page.title }}
        </a>
      </div>
      <ul>
        {% for sub_page in site.pages %}
          {% assign page_id = sub_page.permalink | urlmatch_plugin %}
          {% if page_id == page.permalink %}
            <li class="first">
              <a href="{{ sub_page.url }}">
                {{ sub_page.title }}
              </a>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
     </nav>
  </section>
  <section id="body">
    {{ content }}
  </section>
</div>
